.home-container {
  height: 100vh;
  width: 100vw;

  animation: fade-in 1s;
}

.main-home {
  padding: 0 3.2rem;
}

.add-navers {
  display: flex;
  justify-content: space-between; 
}

.add-navers h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.navers-list {
  width: 100%;

  display: flex;
  flex: 1;

  justify-content: space-between;
  justify-items: center;

  margin: 0 auto;

  box-sizing: border-box;
  flex-wrap: wrap;
}

.create-naver {
  width: 17.6rem;
  height: 4rem;
  
  display: flex;
  
  align-items: center;
  justify-content: center;
  
  border: none;
  outline: none;
  border-radius: 0;

  background: var(--color-primary);
  transition: background-color 0.3s, color 0.3s;

  color: var(--color-white);

  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

.create-naver:hover {
  cursor: pointer;
  background: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}