#modal-container {
  position: fixed;
  z-index: 100;
  background-color: var(--background);
  display: flex;
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  color: --var(--color-primary);
}

#modal-container .close-icon button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin: 2rem 2rem 0 0;
  background: none;
  outline: none;
  cursor: pointer;
}