.naver-photo {
  margin-bottom: 1.2rem;
}

.naver-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary);
}

.naver-job {
  color: var(--color-primary);
  font-size: 1.6rem;

  line-height: 3rem;
}

.delete-btn, .edit-btn {
  background: none;
  border: none;

  cursor: pointer;

  font-size: 1.6rem;
  color: var(--color-primary);
}

.delete-btn {
  margin-right: 1.1rem;
}