#naver-container {
  margin-bottom: 2.6rem;
  width: 100%;
}

.naver-photo {
  margin-bottom: 1.2rem;
  max-width: 100%;
}

.naver-name, .naver-job {
  color: var(--color-primary);
}

.naver-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.naver-job {
  font-size: 1.6rem;

  line-height: 3rem;
  margin-bottom: 0.5rem;
}

.naver-name, .naver-job, .naver-photo {
  cursor: pointer;
}

.delete-btn, .edit-btn {
  background: none;
  border: none;

  cursor: pointer;

  font-size: 1.6rem;
  color: var(--color-primary);
}

.delete-btn {
  margin-right: 1.1rem;
}

.photo-container {
  max-width: 60rem;
  overflow: hidden;
  position: relative;
}

.photo-container .photo {
  max-width: 60rem;
  max-height: 60rem;
}

.naver-content {
  width: 50rem;
  padding: 4rem 4rem 2rem;
  overflow-wrap: break-word;
}

.naver-content .modal-name {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--color-black);

  margin-bottom: 1.6rem;
}

.naver-content .modal-job-role {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.naver-content .modal-label {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.naver-content .modal-detail {
  font-size: 1.6rem;
  padding-bottom: 2.5rem;
}

.naver-content .operation-button-group {
  position: absolute;
  bottom: 2rem;
}

#delete-modal {
  display: inline-block;
  width: 60rem;
  padding: 3rem;
}

.exclude-label {
  padding-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: 600;
} 

.exclude-warning {
  font-size: 1.6rem;
  padding-bottom: 4rem;
}

.delete-modal-button-group {
  display: flex;
  justify-content: flex-end;
}

.delete-modal-button-group button + button {
  margin-left: 2.2rem;
}